In [2]:
from pyspark.sql import SparkSession, Window
import pyspark.sql.functions as F

In [3]:
spark: SparkSession = SparkSession.builder.appName("teste_itau").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/19 13:24:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df_clients = spark.read.csv("../datasets/clientes_sinteticos.csv", header=True, sep=",")

In [5]:
df_clients.show()

+-----------+-----------------+--------------------+-------------------+-----------------+----------------+--------------------+---------------------+--------------+---------+--------+
|cod_cliente|       nm_cliente|     nm_pais_cliente|  nm_cidade_cliente|   nm_rua_cliente|num_casa_cliente|    telefone_cliente|dt_nascimento_cliente|dt_atualizacao|tp_pessoa|vl_renda|
+-----------+-----------------+--------------------+-------------------+-----------------+----------------+--------------------+---------------------+--------------+---------+--------+
|        980|    Krista Rogers|          Guadeloupe|          Kellyview|      Barker Walk|            3309|      (95)39194-2483|           2001-10-29|    2024-04-18|       PJ|57900.19|
|        177| Veronica Russell|       Guinea-Bissau|          Romanside|    Tucker Canyon|             268|      (42)71167-9960|           1991-08-03|    2024-10-28|       PJ|78775.44|
|        267|   William Hughes|            Mongolia|         Taylorview|     Daniel Inlet|           72089|      (70)40026-9752|           2006-12-08|    2025-01-20|       PF| 8877.67|
|        980|      Anita Riggs|            Suriname|  New Catherinestad|     Daniel Plain|           54225|001-595-499-9546x079|           2002-12-19|    2024-04-08|       PJ|41326.54|
|        530|    Alan Humphrey|             Belgium|         Dianeshire|         Wu Inlet|           80620|      (11)55935-5396|           1963-12-18|    2024-11-28|       PJ|67695.14|
|        561|     Haley Harris|           Swaziland|        Michaeltown|  Marsh Stravenue|             562|      (71)90455-9956|           1963-02-05|    2024-11-04|       PJ|48874.57|
|        396|    Donald Walker|      Cayman Islands|          New Daisy|  Palmer Crescent|           25702|    723.957.2526x786|           1946-03-24|    2024-07-18|       PJ|20094.37|
|        212|      Kevin Smith|             Bahrain|     East Jasontown|       James Fork|           37887|      (89)34335-7239|           1952-07-12|    2024-06-14|       PJ|93220.41|
|        396|  Jennifer Malone|               Korea|   Port Victormouth|       Smith Walk|           91710|      (25)32909-5910|           2005-11-20|    2024-06-23|       PJ|93709.69|
|        763|    Justin Hunter|              Rwanda|        West Joseph|      Linda Walks|             752|      (80)97036-1375|           1958-08-15|    2024-09-28|       PF| 9163.69|
|        975|    Lindsey Lewis|        Cook Islands|    East Josephfurt|      Dunn Groves|             660|      (30)47422-4038|           1946-03-13|    2025-03-23|       PJ|54144.95|
|        177|     Sierra Quinn|              Zambia|        Melindatown|        James Run|            6471|      (45)88202-7887|           1954-08-09|    2025-03-03|       PJ|69799.53|
|        190|       Noah Stone|            Suriname|         Martinview|      Huerta Lock|             296|      (93)69452-5359|           1966-09-09|    2024-11-29|       PJ|64615.03|
|        190|       Ana Wilson|      United Kingdom| Port Denisechester|     Claire Mills|             651|      (73)75320-5643|           1964-07-24|    2024-08-05|       PF| 4582.51|
|        925|     Randy Robles|               Palau|       Moodychester|  Wallace Gardens|            8050|      (35)43622-2974|           1952-03-28|    2024-07-31|       PJ| 95576.2|
|        920|   Danielle Lopez|          Guadeloupe|     Christinemouth|     Stephen Mews|           78487|      (79)28255-5198|           1983-06-15|    2024-05-10|       PF| 6361.51|
|        980|   Diana Williams|             Bermuda|       Frankborough|    Nguyen Bridge|           15217|      (30)19810-8705|           1945-11-09|    2025-04-02|       PF| 1438.95|
|        850|  Tiffany Johnson|Turks and Caicos ...|        Austinmouth|  Trevor Villages|           78380|      (78)24440-4480|           1986-04-07|    2024-09-09|       PF| 5276.56|
|        267|Anthony Hernandez|            Cameroon|      Andrewborough|Castillo Motorway|            3935|      (74)75481-7026|           2000-12-17|    2024-05-04|       PF| 4406.63|
|        177|       Karen Hart|Central African R...|West Williamchester|    Wilson Ridges|           16422|       (913)801-5772|           1991-07-20|    2025-02-23|       PJ|81390.19|
+-----------+-----------------+--------------------+-------------------+-----------------+----------------+--------------------+---------------------+--------------+---------+--------+
only showing top 20 rows

In [6]:
w_rank = Window.orderBy(F.col("up_count").desc())

df_top_updates = (
    df_clients.groupBy("cod_cliente")
    .agg(F.count("dt_atualizacao").alias("up_count"))
    .withColumn("rank", F.dense_rank().over(w_rank))
    .filter(F.col("rank") <= 5)
)

In [7]:
df_top_updates.show(100)

25/04/19 13:24:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/04/19 13:24:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/04/19 13:24:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/04/19 13:24:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/04/19 13:24:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/04/19 13:24:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/04/19 13:24:25 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----------+--------+----+
|cod_cliente|up_count|rank|
+-----------+--------+----+
|        878|       5|   1|
|        479|       5|   1|
|        396|       5|   1|
|        855|       4|   2|
|        663|       3|   3|
|         71|       3|   3|
|        980|       3|   3|
|        850|       3|   3|
|        503|       3|   3|
|        632|       3|   3|
|        502|       3|   3|
|        227|       3|   3|
|        620|       3|   3|
|        177|       3|   3|
|        464|       3|   3|
|         93|       3|   3|
|        516|       3|   3|
|        127|       3|   3|
|        925|       3|   3|
|        972|       3|   3|
|        296|       2|   4|
|        334|       2|   4|
|        975|       2|   4|
|        625|       2|   4|
|        686|       2|   4|
|        970|       2|   4|
|        570|       2|   4|
|        423|       2|   4|
|        813|       2|   4|
|        712|       2|   4|
|        267|       2|   4|
|        520|       2|   4|
|        908|       2|   4|
|        100|       2|   4|
|        601|       2|   4|
|        839|       2|   4|
|          6|       2|   4|
|         41|       2|   4|
|        694|       2|   4|
|        436|       2|   4|
|        271|       2|   4|
|        190|       2|   4|
|        779|       2|   4|
|         82|       2|   4|
|        998|       2|   4|
|        398|       2|   4|
|        616|       2|   4|
|        778|       2|   4|
|        366|       2|   4|
|        291|       2|   4|
|        794|       2|   4|
|        687|       2|   4|
|        519|       2|   4|
|        457|       2|   4|
|        922|       2|   4|
|        143|       2|   4|
|        849|       2|   4|
|        322|       2|   4|
|        490|       2|   4|
|        212|       2|   4|
|        405|       2|   4|
|        806|       2|   4|
|        668|       2|   4|
|        763|       2|   4|
|        172|       2|   4|
|        225|       2|   4|
|        426|       2|   4|
|        557|       2|   4|
|        260|       2|   4|
|        771|       2|   4|
|        583|       2|   4|
|        956|       2|   4|
|        847|       2|   4|
|        532|       2|   4|
|        920|       2|   4|
|        820|       2|   4|
|        691|       1|   5|
|        467|       1|   5|
|        451|       1|   5|
|        919|       1|   5|
|          7|       1|   5|
|        447|       1|   5|
|        613|       1|   5|
|        307|       1|   5|
|        577|       1|   5|
|        740|       1|   5|
|        462|       1|   5|
|        711|       1|   5|
|         54|       1|   5|
|        700|       1|   5|
|        383|       1|   5|
|        635|       1|   5|
|        862|       1|   5|
|        317|       1|   5|
|        154|       1|   5|
|        200|       1|   5|
|        388|       1|   5|
|        854|       1|   5|
|        938|       1|   5|
|        986|       1|   5|
+-----------+--------+----+
only showing top 100 rows

In [ ]:
df_ages_avg = df_clients.withColumn(
    "nu_idade_cliente",
    F.round(F.datediff(F.current_date(), F.col("dt_nascimento_cliente")) / 365.25),
).select(F.round(F.avg("nu_idade_cliente")).cast("int").alias("nu_media_idade_cliente"))

In [26]:
df_ages_avg.show()

+----------------------+
|nu_media_idade_cliente|
+----------------------+
|                    50|
+----------------------+